html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: #222;
	background: #eee;
}

.wrap {
	margin: 2rem auto 0 auto;
	max-width: 700px;
	box-sizing: border-box;
}

.section {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 3px;
	background: white;
	margin-bottom: 1rem;
	padding: 1rem;
}

.authors {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	margin: 0 auto;
}

img {
	width: 100%;
}

#demo {
	overflow: hidden;
}

.bar-loader {
	margin: 0 auto;
}

.dropzone {
	padding: 1rem;
	height: 10rem;
	border: 2px dashed gray;
}

.dropzone--rejected {
	border-style: solid;
	border-color: #c66;
	background-color: #eee;
}

.dropzone--disabled {
	opacity: 0.5;
}

.dropzone--accepted {
	border-style: solid;
	border-color: #6c6;
	background-color: #eee;
}

.yt-label, .yt-clips-label {
	margin: 10px 0 10px 20px;
	display: block;
}

#yt-link {
	height: 30px;
	margin-right: 5px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	box-shadow: none;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


#yt-link:focus {
	border: 1px solid #33C3F0;
	outline: 0;
}

button {
	display: inline-block;
	height: 30px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 3px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}
button:hover,
button:focus {
	color: #333;
	border-color: #888;
	outline: 0;
}

.youtube-clips {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.youtube-clips > div {

}

.yt-clip-label {

}

@media all and (max-width: 700px) {
	.wrap {
		margin-top: 0;
		border-radius: 0;
	}
	.authors {
		flex-direction: column;
	}
	.authors div {
		margin: 2.5px 0;
	}
}
