absl-py==0.6.1
astor==0.7.1
Django==2.0.7
django-rest-framework==0.1.0
djangorestframework==3.8.2
gast==0.2.0
grpcio==1.16.0
gunicorn==19.9.0
h5py==2.8.0
Keras==2.2.2
Keras-Applications==1.0.6
keras-contrib==2.0.8
Keras-Preprocessing==1.0.5
Markdown==3.0.1
numpy==1.14.5
opencv-python==3.4.2.17
pafy==0.5.4
Pillow==5.2.0
protobuf==3.6.1
psycopg2==2.7.5
pytz==2018.5
PyYAML==3.13
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow-gpu==1.11.0
termcolor==1.1.0
torch==0.4.1
torchvision==0.2.1
Werkzeug==0.14.1
youtube-dl==2018.9.18
tensorflow-gpu==1.10.1