{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comixify</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'frontend/css/app.css' %}" />
</head>
<body>


<div class="wrap">
	<div class="section">
		<h1>Comixify</h1>
		<div class="authors">
			<div>
				Maciej Pęśko
			</div>
			<div>
				Adam Svystun
			</div>
			<div>
				Paweł Andruszkiewicz
			</div>
			<div>
				Tomasz Trzciński
			</div>
		</div>
		<div>
			<h3>Abstract</h3>
			<div>
      In our project, we present a Web-based working solution for video comixification - a task of converting a video into a comics. We split this task into two separate problems: (a) frame extraction and (b) style transfer. To extract meaningful, representative frames from the video we employ a keyframe extraction algorithm based on Reinforcement Learning, while for transferring the style into comics we implement a generative adversarial network (GANs) model. Since there have been many works published on the so-called neural style transfer, we evaluate them all on the very same task, namely frame comixification and select the most appropriate method. We examined different combinations of Adaptive Instance Normalization, Universal Style Transfer and GAN models and confront them to find their advantages and disadvantages in terms of qualitative and quantitative analysis. In the near future we would like to introduce next two parts: Comic Grid Layout Generation and Speech Extraction.
			</div>
		</div>
	</div>
	<div class="section">
		<h3>Demo</h3>
		<div id="demo"></div>
	</div>
	<div class="section">
		<h3>API</h3>
		<div>
			<h4>Request:</h4>
			<p>
				<i>Path:</i>
				<a href="http://comixify.ii.pw.edu.pl/comixify/">http://comixify.ii.pw.edu.pl/comixify/</a>
			</p>
			<p><i>Method:</i> <strong>POST</strong></p>
			<p><i>Data:</i> 
			<br>
			<code>
			{
				<br>
				&emsp;&emsp;&emsp;&emsp;file: video/mp4
				<br>
			}
			</code>
			</p>

			<i>* Max size of video is 50 MB</i>

			<h4>Respose:</h4>
			<code>
			{
				<br>
				&emsp;&emsp;&emsp;&emsp;status: string,<br>
				&emsp;&emsp;&emsp;&emsp;comic: string
				<br>
			}
			</code>
			<p>comic - url to result comics</p>
		</div>
	</div>
    <div class="section">
		<h3>Reference</h3>
		<div>
            Please cite the following paper if you use the API:<br>
            <p>
                <em>
                    <a href="https://arxiv.org/abs/1809.01726">Neural Comic Style Transfer: Case Study</a>
                </em><br>
                Maciej Pęśko, Tomasz Trzciński<br>
                arXiv:1809.01726, 2018
            </p>
		</div>
	</div>
	<div class="section">
		<h3>Acknowledgements</h3>
		<div>
      We would like to thank Google for granting us free Google Cloud Platform credits that enabled us to develop our project.
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'frontend/js/app.client.js' %}"></script>

</body>
</html>